<section id="about">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-lg-12">
        <h2>About Us</h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <p>Community Tax Service is a registered Tax preparer with 17 years experience.  We are affordable, experienced, and friendly.  Community can handle all your tax prepartion for reasonable rates. We want your tax experience to be as painless and stress-free as possible, and we can help you file an accurate return that maximizes your refund.</p>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 centered">
        <h2>Contact Us Today!</h2>
        <a href="mailto:patty@ctstaxprep.com"><button class="btn btn-lg btn-success"><i class="fa fa-envelope-o"></i> E-mail Here</button></a>
        <br>
      </div>
    </div>
  </div>
  </br>
</section>