<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12-lg">
        <img src="images/footerlogo.jpg">
        <p>© 2015 Community Tax Service</p>
      </div>
    </div>
  </div>
</section>