<div id="home"></div>
<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-12-lg">
        <img class="shadow" src="https://s3-us-west-2.amazonaws.com/communitytaxservices/communitylogolg.png">
      </div>
      <div class="col-12-lg shadow tagline">
        <h1><i class="fa fa-check-circle"></i> Authorized E-File Provider</h1>
        <h1><i class="fa fa-check-circle"></i> No Appointments Necessary</h1>
        <h1><i class="fa fa-check-circle"></i> Free initial consultations<span> (available by appointment)</span></h1>
      </div>
    </div>
  </div>
</section>